<!DOCTYPE html>
<html>
<head>
    <title>Decentralized Voting - Register</title>
</head>
<body>
    <h1>Register to Vote</h1>
    <form method="POST" action="/register/">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
