<!DOCTYPE html>
<html>
<head>
    <title>Decentralized Voting - Result</title>
</head>
<body>
    <h1>Voting Results</h1>
    <p>Total Voters: {{ total_voters }}</p>
    <h2>Candidate Votes:</h2>
    <ul>
        {% for candidate, votes in candidate_votes %}
            <li>{{ candidate }}: {{ votes }}</li>
        {% endfor %}
    </ul>
</body>
</html>
