<!DOCTYPE html>
<html>
<head>
    <title>Decentralized Voting - Vote</title>
</head>
<body>
    <h1>Vote for a Candidate</h1>
    <form method="POST" action="/vote/">
        {% csrf_token %}
        <label for="candidate">Select a Candidate:</label>
        <select id="candidate" name="candidate" required>
            {% for candidate in candidates %}
                <option value="{{ candidate.id }}">{{ candidate.name }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Vote">
    </form>
</body>
</html>
